body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #aaa;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Push the footer to the bottom */
}

.message-container {
  max-width: 400px;
  margin: 0px auto;
  padding: 15px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  color: #31708f;
}

ul,
.message-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-container li {
  margin-bottom: 5px;
}

form {
  width: fit-content;
  margin: auto auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-list li {
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-list a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.user-list a:hover {
  text-decoration: underline;
}

span,
a {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  flex: 1;
  margin-right: 10px; /* Adjust the margin as needed */
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}
.user-info {
  display: flex;
  align-items: center;
}

.form-container {
  text-align: center;
}

.form-container form {
  display: inline-block;
}

.form-button {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.header {
  color: #007bff;
  text-align: center;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.post-content {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.post-meta {
  color: #888;
  font-size: 12px;
  margin-top: 10px;
}

.post-meta:last-child {
  margin-bottom: 0;
}

.post:hover {
  border-color: #007bff;
}

.link {
  color: #007bff;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.post-list {
  list-style: none;
}

.post {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.post-content {
  margin-bottom: 10px;
}

.comment-section {
  margin-top: 10px;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}
