<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FaceTwitInstaSnapTok{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>{% block header %}FaceTwitInstaSnapTok{% endblock %}</h1>
      {% if session['username'] %}
      <p>Welcome, {{ session['username'] }}!</p>
      {% endif %}
      <nav>
        <ul class="navbar">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          {% if session['username'] %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <section>{% block content %}{% endblock %}</section>

    <footer>
      <p>&copy; 2023 FaceTwitInstaSnapTok</p>
    </footer>
  </body>
</html>
